html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    border-right: 1px solid;
}

.pointer {
    cursor: pointer;
}

.content-pane {
    padding: 20px;
    overflow-y: scroll;
}

footer {
    font-size: 11px;
    color: white;
    line-height: 36px;
}

nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.flex-1 {
    flex: 1;
    overflow: hidden;
}

.scrollarea {
    overflow-y: auto;
}
